@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Flamengo roubou o Timão na Copa do Brasil</h1>
    <h2>Foi penalti no primeiro jogo na Arena Corinthians>.<</h2>
    <h2>Resumão</h2>
    <p>
O Flamengo é tetracampeão da Copa do Brasil! Após um empate em 1 a 1 com bola rolando, no Maracanã, na noite desta quarta-feira, o Rubro-Negro venceu o Corinthians nos pênaltis no jogo de volta da decisão, depois de empatar sem gols na ida, na Neo Química Arena. Campeão em 1990, 2006 e 2013, o Fla garantiu a conquista em 2022 com um 6 a 5 nas penalidades.</p>
</div>
